<h1>Questions</h1>
  <ul>
    {{#each}}
      <li>{{#link-to 'question' this.id}}{{asked}}{{/link-to}}</li>
    {{/each}}
  </ul>


  <p>{{#link-to 'new-question' classNames="btn btn-primary"}}Ask a new Question{{/link-to}}</p>
